<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.encloode.tick_tock">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
                  android:label=""
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".enterpin"
            android:label="ENTER PIN"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize"
            />
        <activity android:name=".timedisplay"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            />
        <activity android:name=".ownermenu"
            android:label="SETTINGS"
            android:screenOrientation="landscape"/>
        <activity android:name=".changePin"
            android:label="CHANGE PIN"
            android:screenOrientation="landscape"/>
        <activity android:name=".changeName"
            android:label="CHANGE NAME"
            android:screenOrientation="landscape"/>
        <activity android:name=".timetable"
            android:label="EMPLOYEE HOURS"
            android:screenOrientation="landscape"/>
        <activity android:name=".backlog"
            android:label="EDIT TIME OF LAST ACTIVITY"
            android:screenOrientation="landscape"/>
        <activity android:name=".add_employee"
            android:label="ADD EMPLOYEE"
            android:screenOrientation="landscape"/>
        <activity android:name=".validate_confirm"
            android:label="CONFIRM ACTION"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".displayemployees"
            android:label="LIST OF OF ALL STAFF"
            android:screenOrientation="landscape"
            />
        <activity android:name=".calendar"
            android:label="CALENDER"
            android:screenOrientation="landscape"/>
        <activity android:name=".validatePin"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity android:name=".delete_employee"
            android:label="DELETE EMPLOYEE"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
    </application>

</manifest>