<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.encloode.tick_tock">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".enterpin" />
        <activity android:name=".timedisplay" />
        <activity android:name=".ownermenu"
                  android:label="Settings" />
        <activity android:name=".timetable" />
        <activity android:name=".backlog" />
        <activity
            android:name=".add_employee"
            android:label="ADD A MEMBER OF STAFF" />
        <activity android:name=".validate_confirm" />
        <activity android:name=".displayemployees" />
        <activity android:name=".deleteEmployee" />
        <activity android:name=".changePin" />
        <activity android:name=".changeName"></activity>
    </application>

</manifest>